#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>
#include "aliases.h"

/*

PAR_B
PAR_E
CUR_B
CUR_E
SQB_B
SQB_E 

*/
#define ______ &trans
// BSPC
#define BASE 0
#define ARROWS 1
#define NUMBERS 2 
#define DOUBLE 3 
#define BOOTL 4

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };

      combos {
        compatible = "zmk,combos";
        combo_j { timeout-ms = <30>; key-positions = <16 17>; bindings = <&kp J>; };
        combo_v { timeout-ms = <30>; key-positions = <31 32>; bindings = <&kp V>; };
        combo_ae { timeout-ms = <30>; key-positions = <23 24>; bindings = <&kp SEMI>; };
        combo_oe { timeout-ms = <30>; key-positions = <23 25>; bindings = <&kp SQT>; };
        combo_aa { timeout-ms = <30>; key-positions = <24 25>; bindings = <&kp LBKT>; };
      };

      conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
          if-layers = <1 2>;
          then-layer = <3>;
        };
      };
    };

  keymap {
    compatible = "zmk,keymap";
    default_layer {
      display-name = "Base";
      bindings = <
        ______    ______    ______      ______      ______     ______ &mo BOOTL                                                          &mo BOOTL ______ ______      ______      ______      ______       ______ 
        ______    &kp Q     &kp W       &hm LGUI R  &kp P      &kp B  ______                                                             ______     &kp K  &kp L      &hm LGUI O  &kp U       &kp BSLH     ______
        ______    &kp F     &hm LALT A  &hm LCTL S  &hm LSFT T &kp G  ______           &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL            ______     &kp M  &hm LSFT N &hm LCTL E  &hm LALT I  &kp Y        ______  
        ______    &kp Z     &kp X       &kp C       &kp D      &kp V                            &kp HOME &kp PG_UP                                  &kp J  &kp H      &kp COMMA   &kp DOT     &kp KP_MINUS ______
        ______    ______    ______      ______      ______                &lt NUMBERS ENTER &kp DEL   &kp END  &kp PG_DN &kp SPACE &lt ARROWS SPACE      ______       ______      ______      ______       ______ 
      >;
    };
    
    arrows {
      display-name = "Kp";
      bindings = <
        ______ ______      ______           ______          ______          ______     ______                                                      ______ ______         ______         ______          ______         ______        ______ 
        ______ &kp LS(N1)  &kp DK_LT        &kp LS(N0)      &kp DK_GT       &kp LS(N5) ______                                                      ______ &kp LS(N7)     &kp HOME       &hm LGUI  UP    &kp END        &kp LS(MINUS) ______ 
        ______ &kp RA(N2)  &hm LALT RA(N7)  &hm LCTL LS(N8) &hm LSFT LS(N9) &kp RA(N0) ______              &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL  ______ &kp PG_UP      &hm LSFT LEFT  &hm LCTL DOWN   &hm LALT RIGHT &kp PG_DN     ______ 
        ______ &kp DK_BACK &kp LS(N3)       &kp RA(8)       &kp RA(N9)      &kp RA(N2)                               &kp HOME &kp PG_UP                   &kp RA(EQUAL)  &kp TAB        &kp LS(N2)      &kp ESC        &kp MINUS     ______ 
        ______ ______      ______           ______          ______                &lt NUMBERS SPACE &kp DEL   &kp END  &kp PG_DN &kp ENTER ______                        ______         ______          ______         ______        ______        
      >;
    };
    numbers {
      display-name = "Fn";
      bindings = <
        ______ ______ ______ ______ ______ ______  ______                                           ______ ______ ______ ______ ______ ______  ______
        ______ ______ ______ ______ ______ ______  ______                                           ______ ______ &kp N7 &kp N8 &kp N9 ______  ______
        ______ ______ ______ ______ ______ ______  ______        ______ ______ ______ ______        ______ ______ &kp N4 &kp N5 &kp N6 ______  ______
        ______ ______ ______ ______ ______ ______                      ______ ______                       ______ &kp N1 &kp N2 &kp N3 ______  ______
        ______ ______ ______ ______ ______               ______ ______ ______ ______ ______ &lt ARROWS N0         ______ ______ ______ ______  ______
      >;
    };
    fkeys {
      display-name = "Fn";
      bindings = <
        ______  ______ ______ ______ ______  ______  ______                                           ______ ______ ______   ______   ______   ______ ______
        ______  &kp F7 &kp F8 &kp F9 &kp F10 ______  ______                                           ______ ______ ______   ______   ______   ______ ______
        &kp F12 &kp F4 &kp F5 &kp F6 &kp F11 ______  ______        ______ ______ ______ ______        ______ ______ &kp BKSP &kp BKSP &kp BKSP ______ ______
        ______  &kp F1 &kp F2 &kp F3 ______  ______                      ______ ______                       ______ &kp DEL  &kp DEL  &kp DEL  ______ ______
        ______  ______ ______ ______ ______               ______ ______ ______ ______ ______ &kp N0                 ______   ______   ______   ______ ______
      >;
    };
    mod {
      display-name = "Mod";
      bindings = <
        ______ &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 ______                                                                     ______                 ______        ______        ______        ______ ______ ______
        ______ ______       ______       ______       ______       ______       &bootloader                                                               &bootloader            ______        ______        ______        ______ ______ ______
        &studio_unlock ______        ______        ______        ______        ______        ______                   ______ ______ &bt BT_CLR ______                      &stp STP_BAT ______        ______        ______        ______ ______ ______
        ______ ______        ______        ______        &macro_ver   ______                                      ______ ______                                                        ______        ______        ______        ______ ______ ______
        ______ ______        ______        ______        ______                                       ______ ______ ______ ______      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   ______ ______ ______
      >;
    };
    extra1 { 
      display-name = "Red";    
      status = "reserved";
    };

    extra2 { 
      display-name = "Purple";    
      status = "reserved";
    };

    extra3 { 
      display-name = "Cyan";    
      status = "reserved";
    };

    extra4 { 
      display-name = "Yellow";    
      status = "reserved";
    };
  };
};
